.sidebar-nav {
    .header {
        color: #0a5f90 !important;
        padding: 0.5rem 0.25rem 0.5rem 0.75rem;
        font-weight: bold;
        margin-top: 12px;
        border-bottom: 1px solid;
    }
}

.bg-secondary-transparent{
    background-color: #e59202c9;
}

.app-footer{
    a{
        color: white !important;
    }
}

.sidebar.sidebar-pills .nav-link.active{
    font-weight: bold !important;
}


.app-header{
    .navbar-brand{
        color: black;
        opacity: 1 !important;
    }
    .nav-item .nav-link{
        color:black;
    } 
    .navbar-nav .nav-link{
        color: black;
    }
}

.breadcrumb{
    &-item{
        a{
            color: $secondary;
        }
    }
}

.sticky-footer{
    bottom: 60px;
}